@use '_globales' as *;

.ubicacion--perfil {
    width: 50%;
    height: 90px;
    margin: 30px auto 50px auto;
    padding: 20px 0 0 50px;
    @include caja;
    i {
        display: block;
        float: left;
        padding-right: 10px;
        font-size: 40px;
        color: $color-variacion;
    }
    h2 {
        font-weight: 600;
        @include titulos($fuente2);
    }
    h3 {
        color: get-opacity($color-primario, 0.50);
        @include titulos($fuente2);
    }
}